.nav-tabs{
    margin-bottom: 0px;
    font-family: "sans-serif";
    background-color: #1f69e4;

}

#logo{
    border-radius: 50%;
}

.eventimage:hover{
    width: 191px; height: 191px;
}

.banner{
    background-image: url(/images/banner1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#navmain{
    margin-left: -2px;
    margin-right: -2px;
}
#profiledetailtab{
    background-color: #444754;
    }
#profiledetailtab>li>a{
    background-color: #444754;
    color: white;
}
#profiledetailtab>li.active>a{
    background-color: grey;
}
